image: microsoft/dotnet:latest

stages:
    - build
    # - test

# variables:
    # test: "Example.Test"

before_script:
    - "cd TbsApi"
    - "dotnet restore"

build:
    stage: build
    script:
        - "dotnet build"