<h3>General</h3>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <MatH1>Bot activity settings [in minutes]</MatH1>
            <MatDivider />
            Working time
            <MatNumericUpDownField Label="Min"
                                   @bind-Value=@acc.Settings.Time.MinWork
                                   Step="1"
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
            ~
            <MatNumericUpDownField Label="Max"
                                   @bind-Value=@acc.Settings.Time.MaxWork
                                   Step="1"
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
            <MatDivider />
            Sleep time
            <MatNumericUpDownField Label="Min"
                                   @bind-Value=@acc.Settings.Time.MinSleep
                                   Step="1"
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
            ~
            <MatNumericUpDownField Label="Max"
                                   @bind-Value=@acc.Settings.Time.MaxSleep
                                   Step="1"
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8"></div>
    </div>
</div>