@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <MatTabBar>
                @foreach (var tab in Tabs)
                {
                    <MatTab>
                        <LabelContent>
                            @tab.Label <MatIconButton Icon="@MatIconNames.Close" OnClick="@ChangeTab(tab)"></MatIconButton>
                        </LabelContent>
                        <ChildContent>
                            @tab.Content
                        </ChildContent>
                    </MatTab>
                }


                <MatTabLabel href="fetchdata">FetchData</MatTabLabel>
                <MatTabLabel href="counter">Counter</MatTabLabel>
            </MatTabBar>
        </div>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    string[] Tabs = new string[]
    {
        "General",
        "FetchData",
        "Counter"
    };

    void ChangeTab(string tab)
    {
        UriHelper.
    }
}