name: CI-develop

on:
  push:
    branches: [ develop ]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v1

      - uses: actions/checkout@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5
      
      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE
          
      - name: Restore Packages
        run: |
          nuget restore TbsCore/TbsCore.csproj
          nuget restore TravBotSharp/TbsWinForms.csproj -PackagesDirectory packages
        
      - name: Build Bot
        run: |
          msbuild.exe TravBotSharp.sln /t:TbsWinForms /nologo /nr:false /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /m /p:BuildProjectReferences=true
      
      - name: Get version
        run: |
          $version = $version = (Get-Command TravBotSharp\bin\Release\TravBotSharp.exe).FileVersionInfo.FileVersion -replace ".{3}$"
          $version += ${{github.run_number}}
          Write-Output "VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: TBS-${{ env.VERSION }}-pre
          path: TravBotSharp\bin\Release
          if-no-files-found: error

      - name: Send to Discord Server
        run: |
            curl -X POST -H "Content-Type: application/json" -d '{\"content\":\"We have another pre-build for you guys\n**Changelog**: ${{ github.event.head_commit.message }} \",\"embeds\":[{\"title\":\"Download TBS-${{ env.VERSION }}-pre\",\"url\":\"https://nightly.link/Erol444/TravianBotSharp/workflows/dev/develop/TBS-${{ env.VERSION }}-pre.zip\"}]}' ${{ secrets.DISCORD_PRE_BOT }}
      
      
